{% extends "layout.html.twig" %}

{% block content %}

    <div class="container-fluid b_keyvisual">
        <img src="{{ path('root') }}assets/Gett3o/Assets/keyvisual_image.png" alt="" class="b_keyvisual__image">
        <div class="b_keyvisual__info">
            <h1>Release Notes</h1>
            <h3>TYPO3 {{ current.version }}</h3>
        </div>
    </div>

    {% include 'default/partials/release-notes/version-selector.twig' %}

    <div class="container-fluid b_container">
        {% if current.releaseNotes.legacyContent %}
            <div class="container b_container--downloads">
                <div class="col-md-12 b_text__col">
                    {{ current.releaseNotes.legacyContent|parsedown|raw }}
                </div>
            </div>
        {% else %}
            {% include 'default/partials/release-notes/introduction.twig' %}
            {% include 'default/partials/release-notes/news.twig' %}
            {% include 'default/partials/release-notes/checksums.twig' %}
            {% include 'default/partials/release-notes/upgrading.twig' %}
            {% include 'default/partials/release-notes/changes.twig' %}
        {% endif %}
    </div>
{% endblock %}